{% from "partials/macros.html" import t %}

{% if page.meta and i18n_page_locale != "en" and i18n_file_locale != i18n_page_locale %}
  <div class="translation-banner">
    <a href="https://github.com/ImranR98/Obtainium-Wiki/blob/main/CONTRIBUTING.md" 
       target="_blank" 
       class="translation-banner__link">
      <span class="twemoji translation-banner__icon">
        {% include ".icons/material/translate.svg" %}
      </span>
      <div class="translation-banner__content">
        <p class="translation-banner__title">{{ t('missing_translation', config, i18n_page_locale) }}</p>
        <p class="translation-banner__text">{{ t('help_translate', config, i18n_page_locale) }}</p>
      </div>
    </a>
  </div>
{% endif %}